@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
* {
  font-size: "Open Sans"; }

* {
  padding: 0;
  margin: 0;
  list-style: none; }

a {
  text-decoration: none;
  color: #8f0100; }

ul {
  list-style-type: none; }

.boton1 {
  color: #8f0100;
  background: transparent;
  border: 2px solid;
  border-color: #8f0100;
  border-radius: 6px;
  color: #000;
  padding: 10px 16px;
  font-size: 16px;
  margin: 4px;
  cursor: pointer;
  transition: all 0.8s ease; }
  .boton1:hover {
    background-color: #8f0100;
    color: #fff;
    border-color: #000;
    transition: all 0.8s ease; }

.boton2 {
  color: #8f0100;
  border: 2px solid;
  border-color: #000;
  border-radius: 6px;
  color: #000;
  padding: 10px 16px;
  font-size: 16px;
  margin: 4px;
  cursor: pointer;
  transition: all 0.8s ease; }
  .boton2:hover {
    background-color: #000;
    border-color: #fff;
    color: #fff;
    transition: all 0.8s ease; }

.bg-body-tertiary {
  background-color: #8f0100;
  --bs-bg-opacity: 0; }

.container-fluid {
  background-color: #8f0100;
  text-align: center;
  font-size: 18px; }
  .container-fluid .contador {
    margin: 10px;
    padding: 0px 3px;
    background-color: #fff;
    color: #000;
    border-radius: 3px; }

.menu {
  width: 100%;
  left: 0;
  top: 0;
  position: fixed; }
  .menu .menu__enlace__carrito {
    font-size: 25px;
    color: #fff;
    padding: 10px; }
  .menu .menu__enlace {
    color: #fff;
    padding: 2px; }
  .menu .menu__img {
    width: 90px;
    height: 90px; }
  @media (max-width: 768px) {
    .menu .menu__img {
      height: 110px;
      width: 110px; } }

.navbar {
  padding: 0px; }
  .navbar .navbar-brand {
    padding-top: 0px;
    padding-bottom: 0px; }
  .navbar .navbar-toggler {
    border-color: #000; }

.footer a {
  color: #000; }

.footer .footer__ul {
  padding: 50px 40px 40px 40px;
  display: flex;
  flex-direction: column;
  align-items: center; }

.footer .footer__img {
  width: 20px;
  height: 20px; }

.footer .footer__copy {
  text-align: end;
  padding: 15px;
  background-color: #8f0100;
  color: white;
  margin: 0px; }

@media (max-width: 768px) {
  .footer .footer__copy {
    font-size: 14px;
    text-align: center; } }

.nosotros .nosotros__titulo {
  text-align: center;
  padding: 30px;
  font-size: 70px;
  margin: 30px;
  margin-top: 70px;
  font-weight: bold;
  color: #8f0100; }

.nosotros .nosotros__tarjeta1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; }
  .nosotros .nosotros__tarjeta1 img {
    height: 380px;
    padding: 30px;
    border-radius: 40px; }

.nosotros .nosotros__texto1 {
  padding: 20px;
  font-size: 24px;
  text-align: center; }

.nosotros .nosotros__tarjeta2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #8f0100; }
  .nosotros .nosotros__tarjeta2 img {
    height: 580px;
    padding: 30px;
    order: 1;
    border-radius: 40px; }

.nosotros .nosotros__texto2 {
  color: #fff;
  padding: 20px;
  font-size: 24px;
  text-align: center; }

@media (max-width: 768px) {
  .nosotros .nosotros__titulo {
    margin: 0px; }
  .nosotros .nosotros__tarjeta1 {
    flex-direction: column; }
    .nosotros .nosotros__tarjeta1 img {
      height: 320px;
      padding-left: 0px;
      padding-right: 0px; }
  .nosotros .nosotros__tarjeta2 {
    flex-direction: column; }
    .nosotros .nosotros__tarjeta2 img {
      height: 520px;
      order: 0;
      padding-left: 0px;
      padding-right: 0px; } }

.productos {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  background-color: #8f0100;
  margin: 0px 40px; }
  .productos .producto__tarjeta {
    border: 2px solid;
    border-color: #000;
    border-radius: 10px;
    margin: 10px;
    text-align: center;
    background-color: #fff; }
    .productos .producto__tarjeta .producto__img {
      max-width: 90%;
      border-radius: 30px;
      padding: 15px; }
    .productos .producto__tarjeta .producto__nombre {
      color: #000;
      font-size: 35px;
      width: 100%; }
    .productos .producto__tarjeta .producto__precio {
      color: #000;
      font-size: 25px; }
    .productos .producto__tarjeta .producto_boton {
      margin-bottom: 20px;
      width: 90%; }

.producto__menu {
  display: flex;
  text-align: center;
  padding-bottom: 30px;
  justify-content: center; }

.producto__titulo {
  text-align: center;
  padding: 30px;
  font-size: 70px;
  margin: 30px;
  font-weight: bold;
  color: #8f0100; }

@media (max-width: 768px) {
  .producto__titulo {
    margin: 0px;
    font-size: 6px; } }

.carrito .carrito__titulo {
  text-align: center;
  padding: 30px;
  font-size: 70px;
  margin: 30px;
  margin-top: 70px;
  font-weight: bold;
  color: #8f0100; }

.carrito .carrito__vacio {
  text-align: center;
  padding: 30px;
  font-size: 30px;
  margin: 30px;
  margin-top: 70px;
  font-weight: bold;
  color: #8f0100; }

.carrito .carrito__contenedor {
  display: flex;
  flex-direction: column;
  gap: 20px; }
  .carrito .carrito__contenedor .carrito__compra {
    text-align: center;
    padding: 30px;
    font-size: 30px;
    margin: 30px;
    margin-top: 70px;
    font-weight: bold;
    color: #8f0100; }
  .carrito .carrito__contenedor .carrito__productos {
    gap: 15px;
    margin: 35px 35px 0px 35px;
    padding: 10px;
    background-color: #8f0000a1;
    border-radius: 20px; }
    .carrito .carrito__contenedor .carrito__productos .carrito__producto {
      display: flex;
      justify-content: space-between;
      align-items: center;
      text-align: center;
      margin: 20px;
      border: 2px solid;
      border-color: #00000037;
      border-radius: 10px; }
      .carrito .carrito__contenedor .carrito__productos .carrito__producto img {
        width: 200px;
        border-radius: 30px;
        padding: 10px; }
      .carrito .carrito__contenedor .carrito__productos .carrito__producto .carrito__producto__eliminar {
        border: 0;
        background-color: transparent;
        color: #000;
        font-size: 30px;
        margin-right: 15px; }
      .carrito .carrito__contenedor .carrito__productos .carrito__producto .carrito__producto__nombre {
        width: 160px; }
  .carrito .carrito__contenedor .carrito__acciones {
    display: flex;
    justify-content: space-between;
    margin: 0px 35px; }
    .carrito .carrito__contenedor .carrito__acciones .carrito__acciones__vaciar .boton2 {
      font-size: 20px;
      padding: 10px;
      border-radius: 20px; }
    .carrito .carrito__contenedor .carrito__acciones .carrito__acciones__comprar {
      display: flex; }
      .carrito .carrito__contenedor .carrito__acciones .carrito__acciones__comprar p {
        margin: 0px; }
      .carrito .carrito__contenedor .carrito__acciones .carrito__acciones__comprar .carrito__acciones__total {
        display: flex;
        align-items: center;
        background-color: #8f0000a1;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
        font-size: 20px;
        padding: 10px; }
      .carrito .carrito__contenedor .carrito__acciones .carrito__acciones__comprar .boton1 {
        border-radius: 0px;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
        margin: 0px;
        font-size: 20px;
        padding: 10px; }

.carrito .disableb {
  display: none; }

.sucursales .sucursales__titulo {
  text-align: center;
  padding: 30px;
  font-size: 70px;
  margin: 30px;
  font-weight: bold;
  color: #8f0100; }

.sucursales .sucursales__tarjeta1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; }

.sucursales .sucursales__texto1 {
  padding: 20px;
  font-size: 24px;
  text-align: center; }

.sucursales .sucursales__tarjeta2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #8f0100; }

.sucursales .sucursales__texto2 {
  color: #fff;
  padding: 20px;
  font-size: 24px;
  order: 2;
  text-align: center; }

.sucursales .sucursales__mapa1 {
  height: 380px;
  padding: 30px; }

.sucursales .sucursales__mapa2 {
  height: 380px;
  padding: 30px;
  order: 2; }

@media (max-width: 768px) {
  .sucursales__titulo {
    margin: 40px 0px 40px 0px;
    padding: 0px; }
  .sucursales .sucursales__tarjeta1 {
    display: flex;
    flex-direction: column; }
  .sucursales .sucursales__mapa1 {
    height: 360px;
    width: 360px;
    padding-left: 0px;
    padding-right: 0px; }
  .sucursales .sucursales__tarjeta2 {
    display: flex;
    flex-direction: column; }
  .sucursales .sucursales__mapa2 {
    height: 360px;
    width: 360px;
    order: 0;
    padding-left: 0px;
    padding-right: 0px; } }
