.boton1 {
    color: #8f0100;
    background: transparent;
    border: 2px solid;
    border-color: #8f0100;
    border-radius: 6px;
    color: #000;
    padding: 10px 16px;
    font-size: 16px;
    margin: 4px;
    cursor: pointer;
    transition: all 0.8s ease;

    &:hover {
        background-color: #8f0100;
        color: #fff;
        border-color: #000;
        transition: all 0.8s ease;
    }
}

.boton2 {
    color: #8f0100;
    border: 2px solid;
    border-color: #000;
    border-radius: 6px;
    color: #000;
    padding: 10px 16px;
    font-size: 16px;
    margin: 4px;
    cursor: pointer;
    transition: all 0.8s ease;

    &:hover {
        background-color: #000;
        border-color: #fff;
        color: #fff;
        transition: all 0.8s ease;
    }
}