.bg-body-tertiary {
    background-color: #8f0100;
    --bs-bg-opacity: 0;
}

.container-fluid {
    background-color: #8f0100;
    text-align: center;
    font-size: 18px;
    .contador{
        margin: 10px;
        padding: 0px 3px;
       background-color: #fff;
       color: #000;
       border-radius: 3px;
    }
}

.menu {
    width: 100%;
    left: 0;
    top: 0;
    position: fixed;

    .menu__enlace__carrito {
            font-size: 25px;
            color: #fff;
            padding: 10px;
        }
    
    .menu__enlace {
        color: #fff;
        padding: 2px;
    }

    .menu__img {
        width: 90px;
        height: 90px;
    }

    @media(max-width:768px) {
        .menu__img {
            height: 110px;
            width: 110px;
        }
    }
}

.navbar {
    padding: 0px;

    .navbar-brand {
        padding-top: 0px;
        padding-bottom: 0px;
    }

    .navbar-toggler {
        border-color: #000;
    }
}
